{{#if session.isAuthenticated}}
  <form {{action 'createNewTopic' on='submit'}}>
    <div class='new-topic-container'>
      {{#if newTopic}}
        <button type='submit' class='new-topic-submit'>
          {{fa-icon "fa-plus-square"}}
        </button>
      {{/if}}
      {{input
        class='new-topic-input'
        type='text'
        value=newTopic
        placeholder='Suggest a Topic' }}
    </div>
  </form>
{{/if}}
<ol class='items'>
  {{#each orderedTopics as |topic index|}}
    <li>
      <div class='number'>{{base-one-index index}}</div>
      {{topic-card classNames='topic-card' topic=topic}}
    </li>
  {{/each}}
</ol>
