<h2 id="title">Welcome to Ember.js</h2>
{{#if session.isAuthenticated}}
  <div>
    <img src='{{session.currentUser.avatar}}' />
  </div>
  <div>
    {{session.currentUser.username}}
  </div>
  <div>
    <button {{action 'signout'}}>Logout</button>
  </div>
{{else}}
  <div>
    <button {{action 'signin'}}>Login</button>
  </div>
{{/if}}

{{outlet}}