<div class='background-image'></div>
<div class='header-bar'>
  {{#if session.isAuthenticated}}
    <img class='avatar' src='{{session.currentUser.avatar}}' />
    <div class='username'>{{session.currentUser.username}}</div>
    <button class='login-button signed-in' {{action 'signout'}}>Sign Out</button>
  {{else}}
    <button class='login-button signed-out' {{action 'signin'}}>Sign In with GitHub</button>
  {{/if}}
</div>
<h2 class="title">Lightning</h2>

<div class='content'>
  {{outlet}}
</div>