<div class='description'>{{topic.description}}</div>
<button class='toggle-button-counter' disabled={{session.notAuthenticated}} {{action 'upvote'}}>
  <div class='icon upvote {{if isUpvoter 'active'}}'></div>
  <div class='count'>{{topic.upvoteCount}}</div>
</button>
<button class='toggle-button-counter' disabled={{session.notAuthenticated}} {{action 'volunteer'}}>
  <div class='icon volunteer {{if isVolunteer 'active'}}'></div>
  <div class='count'>{{topic.volunteerCount}}</div>
</button>