<div class='description'>
  {{#if isNew}}
    <div class='new'>New!</div>
  {{/if}}
  {{topic.description}}
</div>

<button class='toggle-button-counter' disabled={{session.notAuthenticated}} {{action 'upvote'}}>
  <div class='icon upvote {{if isUpvoter 'active'}}'></div>
  <div class='count'>{{topic.upvoteCount}}</div>
</button>

{{#unless topic.talkBy}}
  <button class="icon-btn" alt="Claim topic" title="Claim topic" {{action "chooseTalkDate"}} disabled={{session.notAuthenticated}}>
    {{fa-icon "calendar-plus-o"}}
  </button>
{{else}}
  <div class="volunteer-container">
    <img class='avatar' alt="{{topic.talkBy.username}}" title="{{topic.talkBy.username}}" src='{{topic.talkBy.avatar}}' />
  </div>
   {{date-format topic.talkDate format="MMMM Do"}}
   {{#if talkByCurrentUser}}
     <button class="icon-btn" alt="Cancel talk" title="Cancel talk" {{action "cancelTalkBy"}}>
      {{fa-icon 'calendar-times-o'}}
     </button>
    {{/if}}
{{/unless}}

{{#if showMeetupDates}}
  <div class="meetup-dates-container">
    <button class="link-btn" {{action "chooseTalkDate" today}}>
      Today
    </button> or
    <button class="link-btn" {{action "chooseTalkDate" meetupDates.nextMeetup}}>
      Next meetup ({{date-format meetupDates.nextMeetup format="MMMM Do"}})
    </button>?
  </div>
{{/if}}